.cart-container {
  margin-left: auto;
  cursor: pointer;
  img {
    width: 20px;
  }

  .cart-count {
    margin-left: -10px;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 10px;
    font-size: 0.7rem;
  }
}
