.nav-menu {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  justify-content: space-around;

  a {
    text-decoration: none;
    &:focus,
    &:hover,
    &:visited {
      color: black;
    }
  }

  
  ul {
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    
    li {
      display: inline-block;
      margin: 0 1rem;
      cursor: pointer;
    }
  }
}
.logo {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url('https://firebasestorage.googleapis.com/v0/b/dragon-wristbands.appspot.com/o/logo-black.png?alt=media&token=e36dacea-72d0-4002-9c6f-b5210b9b2920') center/cover no-repeat;

  //font-size: 1.5rem;
}
.main-nav-continer {
  display: flex;
  align-items: flex-end;  
}
.nav-menu-name{
  margin-bottom: 3rem;
  font-size: 2rem;
  font-variant: small-caps slashed-zero;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
